<!DOCTYPE html>
<html>
    <head>
        <title>Log in</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <%= include navbar %>
        <div class="container">
        <ol class="breadcrumb">
            <li><a href="/shop">Home</a></li>
            <li class="active">Log in</li>   
        </ol>

        <div class="container">
          <form class="form-signin" role="form" method="post" action="/shop/login">
            <h2 class="form-signin-heading">Log in</h2>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" name="email" value="<%= email %>" placeholder="Enter email" required>
            </div>
            <div class="form-group">
              <label for="pwd">Password:</label>
              <input type="password" class="form-control" id="pwd" name="password" value="" placeholder="Enter password" required>
            </div>
            <% if (login_error) { %>
            <div class="alert alert-warning" role="alert"><%= login_error %></div>
            <% } %>
            <button type="submit" class="btn btn-large btn-primary">Log in</button>
          </form>
        </div>
        </div>
        <hr>
        <footer>
            <p> &copy; Copyright 2015 OSF Global Services</p>
        </footer>
        <!-- ================================================================================== -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    </body>
</html>