<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    
    <body>
        <%= include navbar %>
        <div class="container">
        <ol class="breadcrumb">
            <li><a href="/shop">Home</a></li>
            <% _.each(items, function(topC) { %>
                <li><a href="/shop/<%= topC.id %>"><%= topC.name %></a></li>
            <% }); %>  
            <% _.each(categories, function(subC) { %>
                <li><a href="/shop/<%= category_id %>/<%= subcategories_id %>"><%= subC.name %></a></li>
            <% }); %>  
            <% _.each(subcategories, function(subC) { %>
                 <% if (subC.id == title) { %>
                <li><%= subC.name %></li>
                <% } %>
            <% }); %> 
        </ol>

        <ol class="row">
        <% _.each(products, function(topC) { %>
            <li class="col-xs-12 col-sm-6 col-md-6" >
            <div class="thumbnail">
                <h3><%= topC.name %></h3>
                <% _.each(topC.image_groups, function(subC) { %>
                    <% if (subC.view_type=="medium" && !(subC.variation_value)) { %>
                    <div class="col-md-6 col-sm-6 col-xs-4">
                        <img class="img-responsive" src="/images/<%= subC.images[0].link %>">
                    </div>
                    <% } %>
                <% }); %>
                <div class="caption">
                    <p><%= topC.short_description %></p>
                    <p>Price: $ <%= topC.price %></p>   
                    <a href="/shop/<%= category_id %>/<%= subcategories_id %>/<%= title %>/<%= topC.id %>" class="btn btn-default" role="button">More info</a>                     
                </div>
            </div>    
            </li>        
        <% }); %>
        </ol>
        <hr>
        <footer>
            <p> &copy; Copyright 2015 OSF Global Services</p>
        </footer>
        <!-- ================================================================================== -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </body>
</html>