<!DOCTYPE html>
<html>
    <head>
        <title><%= product.name %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    
    <body>
        <%= include navbar %>
        <div class="container">
        <ol class="breadcrumb">
            <li><a href="/shop">Home</a></li>
            <% _.each(items, function(topC) { %>
                <li><a href="/shop/<%= topC.id %>"><%= topC.name %></a></li>
            <% }); %>  
            <% _.each(categories, function(subC) { %>
                <li><a href="/shop/<%= category_id %>/<%= subcategories_id %>"><%= subC.name %></a></li>
            <% }); %>  
            <% _.each(subcategories, function(subC) { %>
                 <% if (subC.id == products_id) { %>
                <li><a href="/shop/<%= category_id %>/<%= subcategories_id %>/<%= products_id %>"><%= subC.name %></a></li>
                <% } %>
            <% }); %> 
            <% _.each(products, function(product) { %>
                <li><%= product.name %></li>
            <% }); %>
        </ol>

        <div class="row">
            <div class="col-md-4">
            <% _.each(product.image_groups, function(subC) { %>
                <% if (subC.view_type=="large" && !(subC.variation_value)) { %>
                <img class="img-responsive" src="/images/<%= subC.images[0].link %>">
                <% } %>
                <% if (subC.view_type=="small" && !(subC.variation_value) && subC.images[1]) { %>
                <img class="img-responsive" src="/images/<%= subC.images[1].link %>">
                <% } %>
            <% }); %>
            </div>
            <h2><%= product.name %></h2>
            <div><%- product.long_description %></div>
            <br>
            <p>Price: <span id="price" value = "<%= product.price %>" ><%= product.price %></span>
                <select id="curr">
                    <% _.each(currencies, function(currency) { %>
                    <option value="<%= product.price/curr_codes[currency]*curr_codes[product.currency] %>"> 
                        <%= currency %>
                    </option>
                    <% }) %>
                </select>
            </p>          
          <a href="#"  class="btn btn-default" role="button">Buy now</a>
        </div>
        <hr>
        <footer>
            <p> &copy; Copyright 2015 OSF Global Services</p>
        </footer>
        <!-- ================================================================================== -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script type="text/javascript" src="/javascripts/currencies.js"></script>       
    </body>
</html>