

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 100%;
}

a {
  color: #00B7FF;
}

nav ul li {
	padding-left: 100px;
}


nav ul li a {
	font-size: 20px;
}
.navbar-brand {
	font-weight: bold;
	font-size: 30px;
}

.btn {
	margin-top: 1em;
}

body { 
	padding-bottom: 70px;
	padding-top: 70px;
}

ol {
	list-style-type: none;
}

.form-signin {
    max-width: 500px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}


.thumbnail {
	height: 300px;
	position: relative;
}

footer {
  text-align: right;
}
